<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/HomePage.css">
    <link rel="stylesheet" href="../styles/LoginPage.css">
    <link rel="stylesheet" href="../styles/CreatePost.css">
    <link rel="stylesheet" href="../styles/Comments.css">
    <link rel="stylesheet" href="../styles/Posts.css">
    <link rel="stylesheet" href="../styles/ErrorPage.css">
    <link rel="stylesheet" href="../styles/Messages.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--* https://fonts.google.com/icons?icon.size=24&icon.color=%23e8eaed -->
    
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <link rel="icon" type="image" href="../images/glass2.png">

    <title>Penguinity</title>
</head>
<body> 
    <!-- * SIDE BAR -->
    <div class="sidebar" id="sidebar">
        <div class="menu-name">
            <img src="../images/glass.png" alt="Avatar" class="logo">
            <span>Penguinity</span>
        </div> 
        <div class="menu">
            <a class="text-item menu-item" data-page="Home">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
                       
            <a class="text-item menu-item" data-page="Categories">
                <i class="material-icons">forum</i>
                <span>categories</span>
            </a>

            <a class="text-item menu-item privilage disabled-link" data-page="Createpost">
                <i class="material-icons">chat</i>
                <span>creat post</span>
            </a>

            <a class="text-item menu-item privilage disabled-link" data-has-Submenu="true" data-page="Profile" title="Profile">
                <i class="material-icons">person</i>
                <span>Profile</span>
                <i class="material-icons sub-menu">arrow_drop_down</i>
            </a>
           <div class="sub-menu">
                <div class="sub-menu-item" data-page="Created">created posts</div>
                <div class="sub-menu-item" data-page="Liked">liked posts</div>
                <div class="sub-menu-item" data-page="Disliked">disliked posts</div>
                <!-- <div class="sub-menu-item">comments</div> -->
            </div>

        </div>
        <!-- * END SIDE BAR -->

        <!-- * MAIN BODY -->
        <div class="bottom-menu">

            <a class="text-item menu-item login-buttons" data-page="Login">
                <i class="material-icons" >login</i>
                <span >Login</span>
            </a>
            <a class="text-item menu-item logout-buttons" hx-post="/Data-userLogout">
                <i class="material-icons" >logout</i>
                <span >logout</span>
            </a>
            <a class="text-item list-menu" title="Hide menu">
                <i class="material-icons">more_vert</i>
                <span>Hide menu</span>
            </a>

        </div>
    </div>
    <div class="RightSidebar" id="RightSidebar">
        <div class="users-sidebar">
            <div class="users-header text-item">
                <i class="material-icons">inbox</i>
                <span>Messages</span>
            </div>
            <div id="users-list">
                <!-- all users will be displayed here -->  
            </div>
        </div>
    </div>

    <!--!---------------- Main content goes here ------------------->

    <div class="main-content">

        <div id="Login" class="deactive">
            <div class="pageContainer">
                <div class="form-container">
                    <div class="form-header">
                        <h2>Login Form</h2>
                    </div>
                    <form class="modal-content animate" hx-post="/Data-userLogin" hx-target="#login_err_field" hx-swap="innerHTML">
                        <div class="form-group">
                            <input class="input-bigholder" type="text" placeholder="Enter your Username" name="username" required autocomplete="true">
                        </div>
                        <div class="form-group">
                            <input class="input-bigholder" type="password" placeholder="Enter your Password" name="password" required autocomplete="true">
                        </div>
                        <div>
                            <p id="login_err_field"></p>
                        </div>
                        <button class="submit-button" type="submit">Login</button>
                        <div class="sign-in-text">
                            Dont have an account? <a data-page="Register">create new account</a>
                        </div>
                        <!-- Google and Github login buttons-->
                        <div class="oauth-buttons">
                            <div class="or-divider">
                                <hr class="left">
                                <span>Or</span>
                                <hr class="right">
                            </div>
                            <a onclick="window.location.href='/auth/google/login'" class="submit-button google-btn">
                                <img src="../images/google-icon.png" alt="Google">
                                Sign in with Google
                            </a>
                            
                            <a onclick="window.location.href='/auth/github/login'" class="submit-button github-btn">
                                <img src="../images/github-icon.png" alt="GitHub">
                                Sign in with GitHub
                            </a>
                        </div>
                        <!--End of G&G buttons-->  
                    </form>
                </div>
            </div>
        </div>

        <div id="Register" class="deactive">
            <!-- *** START OF THE REGISTRATION FORM *** -->
            <div class="pageContainer">
                <div class="form-container">
                    <div class="form-header">
                        <h2>Registration Form</h2>
                    </div>
                    <form class="modal-content animate" hx-post="/Data-userRegister" hx-target="#register_err_field" hx-swap="innerHTML">
                        <div class="form-group">        
                            <input type="text" id="newUsername" name="newUsername" placeholder="Username" required autocomplete="true">
                        </div>
                        <div class="form-group sub-name">
                            <div class="gap">
                                <input type="text" id="fistName" name="fistName" placeholder="First name" required autocomplete="true">
                            </div>
                            <div>
                                <input type="text" id="lastName" name="lastName" placeholder="Last Name" required autocomplete="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" id="Email" name="Email" placeholder="Email" required autocomplete="true">
                        </div>
                        <div class="form-group">
                            <input type="password" id="newPassword" name="newPassword" placeholder="Password" required autocomplete="true">
                        </div>
                        <div class="form-group">
                            <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" placeholder="Confirm Password" required autocomplete="true">
                        </div>
                        <div class="form-group">
                            <div class="Malecheckbox gender">
                                <label for="Male">Male</label>              
                                <input type="radio" id="Male" name="gender" value="M">
                            </div>
                            <div class="FeMalecheckbox">
                                <label for="Female">Female</label>
                                <input type="radio" id="Female" name="gender" value="F">
                            </div>    
                        </div>
                        <div>
                            <p id="register_err_field"></p>
                        </div>
                        <button type="submit" class="submit-button">Create Account</button>
                        <div class="sign-in-text">
                            Already have an account? <a data-page="Login">Sign In</a>
                        </div>
                    </form>
                </div>
                <!-- *** END OF THE REGISTRATION FORM *** -->
            </div>
        </div>

        <div id="Home" class="deactive">
            <h1 class="pageTitle">Home</h1> 

            <div id="posts-container">
                <!-- Posts will be inserted here -->
            </div>
        </div>

        <div id="Categories" class="deactive">
            <h1 class="pageTitle">Categories</h1> 

            <nav id="category-nav">
                <!-- categorys will be inserted here -->
            </nav>
            <div id="category-container">
                <!-- Posts will be inserted here -->
            </div>
    
        </div>
        
        <div id="Createpost" class="deactive">
            <div class="pageContainer">
                <div class="form-container">
                    <div class="form-header">
                    <h2>Create new post</h2>
                    </div>
                    <form id="postForm" hx-post="/Data-CreatPost" hx-target="#CreatePost_err_field" hx-swap="innerHTML" enctype="multipart/form-data">
                        <div class="form-post horizontal-multi-select">
                            <p class="textlabel">Select one or more Category:</p>
                            <div class="multi-select-options" id="categories">
                                <label class="multi-option">
                                    <input type="checkbox" name="categories" value="Cars">
                                    <span>Cars</span>
                                </label>
                                <label class="multi-option">
                                    <input type="checkbox" name="categories" value="Games">
                                    <span>Games</span>
                                </label>
                                <label class="multi-option">
                                    <input type="checkbox" name="categories" value="ali">
                                    <span>Ali</span>
                                </label>
                                <label class="multi-option">
                                    <input type="checkbox" name="categories" value="bmw">
                                    <span>BMW</span>
                                </label>
                                <label class="multi-option">
                                    <input type="checkbox" name="categories" value="mahmood">
                                    <span>Mahmood</span>
                                </label>
                                <label class="multi-option">
                                    <input type="checkbox" name="categories" value="mujtaba">
                                    <span>Mujtaba</span>
                                </label>
                                <label class="multi-option">
                                    <input type="checkbox" name="categories" value="nissan">
                                    <span>Nissan</span>
                                </label>
                                <label class="multi-option">
                                    <input type="checkbox" name="categories" value="reboot">
                                    <span>Reboot</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-post">        
                            <input type="text" name="title" placeholder="Post title"><br><br>
                            <textarea 
                                class="post-input" 
                                id="content" 
                                name="content" 
                                placeholder="Add your post content..."
                                required
                                maxlength="1000" 
                            ></textarea>
                        </div>
                        <div class="form-post">
                            <label class="textlabel" for="fileUpload">Select a image to upload (optional):</label>
                            <input type="file" id="fileUpload" name="image" accept=".jpg,.png,.jpeg">
                        </div>
                        <div>
                            <p id="CreatePost_err_field"></p>
                        </div>
                        <button type="submit" class="submit-post">Create Post</button>        
                    </form>
                </div>
            </div>
        </div>

        <div id="Messages" class="deactive">
            <div id="chat-container">
                <div id="chat-area" class="chat-area">
                    <!-- Chat messages will be inserted here -->
                     <!-- Main Chat Area -->
                    <div class="chat-area">
                        <div class="chat-header">
                            <img class="avatar" src="../images/pengin.PNG">
                            <div>
                                <div class="chat-name">Messages</div>
                                <div class="Typing">User is Typing...</div>
                            </div>
                        </div>
                        <div class="chat-startUp">
                            <div >
                                Welcome to Penguinity Chat 😁
                            </div>
                            <div>
                                Select User from the right to start Chating
                            </div>
                        </div>
                        <div class="input-area">
                            <input type="text" class="message-input" placeholder="Select User First">
                            <button class="send-button">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Profile" class="deactive">
        </div>

        <div id="Created" class="deactive">
            <h1 class="pageTitle">Created</h1> 
        </div>

        <div id="Liked" class="deactive">
            <h1 class="pageTitle">Liked</h1> 
        </div>

        <div id="Disliked" class="deactive">
            <h1 class="pageTitle">Disliked</h1> 
        </div>

        <div id="Error" class="deactive">
            <div class="pageContainer">
                <div class="error-container">
                    <div class="error-header">
                        <h2>Error</h2><h2 id="error-id">404</h2>                
                    </div>
                    <div class="error-post">
                        <p id="error-message">Sorry, the page you requested was moved, removed, renamed or might never existed.</p>
                        <button class="close-error" data-page="Home">Go Home</button>        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../scripts/Page.js"></script>
    <script src="../scripts/navigation.js"></script>
    <script src="../scripts/utilities.js"></script>
    <script src="../scripts/fetchPosts.js"></script>
    <script src="../scripts/fetchComments.js"></script>
    <script src="../scripts/fetchCategory.js"></script>
    <script src="../scripts/fetchProfile.js"></script>
    <script src="../scripts/WebSocket.js"></script>
</body>
</html>
